In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
transactions = pd.read_csv("../Transformación de Datos/Datasets/transactions.csv")
customers = pd.read_csv("../Transformación de Datos/Datasets/customers.csv")
products = pd.read_csv("../Transformación de Datos/Datasets/products.csv")

In [3]:
transactions

,transaction_id,customer_id,product_id,store_id,timestamp,ts_str,ts_tz,quantity,amount,amount_str,discount_pct,discount_str,payment_method,status,device,channel,hi_value_flag
0,1,258,35,2,2025-05-11 15:46:46,2025-05-11 15:46:46,2025-05-11T15:46:46-05:00,4,770.88,$770.88,5,5%,wallet,completed,ios,mobile,1
1,2,208,62,16,2024-01-20 10:14:03,2024/01/20 10:14,2024-01-20T10:14:03-05:00,4,954.78,$954.78,10,10%,transfer,pending,web,desktop,1
2,3,115,5,20,2024-07-09 05:06:54,09/07/2024 05:06,2024-07-09T05:06:54-05:00,4,711.32,$711.32,10,10%,card,completed,android,mobile,1
3,4,288,33,16,2024-04-18 09:10:31,2024-04-18 09:10:31,2024-04-18T09:10:31-05:00,4,2887.96,"$2,887.96",10,10%,card,completed,web,desktop,1
4,5,66,2,9,2025-06-09 14:35:33,2025-06-09T14:35:33,2025-06-09T14:35:33-05:00,1,2.82,$2.82,0,0%,card,completed,ios,mobile,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,136,37,13,2025-03-05 13:22:13,05-Mar-2025 13:22:13,2025-03-05T13:22:13-05:00,1,163.03,$163.03,0,0%,transfer,completed,android,mobile,0
1496,1497,17,56,18,2024-12-01 10:13:45,01/12/2024 10:13,2024-12-01T10:13:45-05:00,2,390.84,$390.84,5,5%,card,completed,android,mobile,0
1497,1498,88,75,9,2025-06-11 22:25:49,2025-06-11T22:25:49,2025-06-11T22:25:49-05:00,1,379.73,$379.73,5,5%,card,completed,android,mobile,0
1498,1499,209,52,20,2025-05-28 03:49:01,28-May-2025 03:49:01,2025-05-28T03:49:01-05:00,1,226.08,$226.08,0,0%,cash,completed,android,mobile,0
1499,1500,211,44,6,2024-03-07 13:27:14,2024-03-07T13:27:14,2024-03-07T13:27:14-05:00,5,1194.10,"$1,194.10",0,0%,card,completed,android,mobile,1

In [4]:
customers

,customer_id,first_name,last_name,gender,city,country,signup_date,loyalty_tier,email
0,1,Sofía,Ramírez,O,Cali,Colombia,2023-07-29,Silver,sofía.ramírez@example.com
1,2,Tomás,Torres,O,Cartagena,Colombia,2024-04-19,Silver,tomás.torres@example.com
2,3,Diana,Moreno,F,Cartagena,Colombia,2024-02-22,Bronze,diana.moreno@example.com
3,4,Laura,Gómez,F,Bogotá,Colombia,2023-12-13,Platinum,laura.gómez@example.com
4,5,Miguel,Torres,F,Cúcuta,Colombia,2024-06-12,Gold,miguel.torres@example.com
...,...,...,...,...,...,...,...,...,...
295,296,Ana,Rodríguez,F,Armenia,Colombia,2024-09-04,Silver,ana.rodríguez@example.com
296,297,Tomás,Muñoz,M,Cúcuta,Colombia,2023-02-13,Gold,tomás.muñoz@example.com
297,298,Ana,Ramírez,F,Bucaramanga,Colombia,2025-03-27,Bronze,ana.ramírez@example.com
298,299,María,Gómez,M,Bogotá,Colombia,2023-01-17,Silver,maría.gómez@example.com
299,300,Juan,Jiménez,O,Pereira,Colombia,2023-11-26,Platinum,juan.jiménez@example.com

In [5]:
products

    product_id product_name     category   brand   price price_str  weight_kg
0            1  Product_001  Electronics    Acme  754.36   $754.36      1.226
1            2  Product_002      Grocery  Pulsar    2.93     $2.93      1.898
2            3  Product_003       Sports  Pulsar   43.70    $43.70      1.175
3            4  Product_004      Fashion   Kairo   95.92    $95.92      0.412
4            5  Product_005      Fashion    Omni  187.44   $187.44      3.037
..         ...          ...          ...     ...     ...       ...        ...
70          71  Product_071      Fashion  Pulsar   79.63    $79.63      1.799
71          72  Product_072         Home    Nova  130.93   $130.93      1.223
72          73  Product_073       Sports    Acme  178.43   $178.43      3.914
73          74  Product_074       Sports  Vertex  106.31   $106.31      1.410
74          75  Product_075  Electronics    Omni  403.06   $403.06      4.122

[75 rows x 7 columns]

## Merge

In [ ]:
df_merge = transactions.merge(
    customers, 
    on="customer_id", # Merge with customers on customer_id
    how="inner").merge(
        products, 
        on="product_id", # Merge with products on product_id
        how="inner") # inner - left - right - outer

df_merge[["transaction_id","customer_id","first_name","product_name","amount"]]

      transaction_id  customer_id first_name product_name   amount
0                  1          258        Ana  Product_035   770.88
1                  2          208     Miguel  Product_062   954.78
2                  3          115  Valentina  Product_005   711.32
3                  4          288     Andrés  Product_033  2887.96
4                  5           66     Andrés  Product_002     2.82
...              ...          ...        ...          ...      ...
1495            1496          136      Paula  Product_037   163.03
1496            1497           17        Ana  Product_056   390.84
1497            1498           88        Ana  Product_075   379.73
1498            1499          209      Sofía  Product_052   226.08
1499            1500          211     Miguel  Product_044  1194.10

[1500 rows x 5 columns]

## Join

In [22]:
transactions_mod = transactions[["transaction_id","customer_id","product_id","amount"]].set_index("customer_id")
customer_mod = customers.set_index("customer_id")[["first_name","last_name"]]

df_join = transactions_mod.join(customer_mod, on="customer_id")
df_join

             transaction_id  product_id   amount first_name  last_name
customer_id
258                       1          35   770.88        Ana    Sánchez
208                       2          62   954.78     Miguel  Rodríguez
115                       3           5   711.32  Valentina  Hernández
288                       4          33  2887.96     Andrés      Pérez
66                        5           2     2.82     Andrés       Díaz
...                     ...         ...      ...        ...        ...
136                    1496          37   163.03      Paula    Jiménez
17                     1497          56   390.84        Ana     Flores
88                     1498          75   379.73        Ana      Pérez
209                    1499          52   226.08      Sofía    Sánchez
211                    1500          44  1194.10     Miguel      López

[1500 rows x 5 columns]

## Concat

In [19]:
part1 = transactions.head(5)
part2 = transactions.tail(5)

df_concat_rows = pd.concat([part1, part2], axis=0)
df_concat_rows

,transaction_id,customer_id,product_id,store_id,timestamp,ts_str,ts_tz,quantity,amount,amount_str,discount_pct,discount_str,payment_method,status,device,channel,hi_value_flag
0,1,258,35,2,2025-05-11 15:46:46,2025-05-11 15:46:46,2025-05-11T15:46:46-05:00,4,770.88,$770.88,5,5%,wallet,completed,ios,mobile,1
1,2,208,62,16,2024-01-20 10:14:03,2024/01/20 10:14,2024-01-20T10:14:03-05:00,4,954.78,$954.78,10,10%,transfer,pending,web,desktop,1
2,3,115,5,20,2024-07-09 05:06:54,09/07/2024 05:06,2024-07-09T05:06:54-05:00,4,711.32,$711.32,10,10%,card,completed,android,mobile,1
3,4,288,33,16,2024-04-18 09:10:31,2024-04-18 09:10:31,2024-04-18T09:10:31-05:00,4,2887.96,"$2,887.96",10,10%,card,completed,web,desktop,1
4,5,66,2,9,2025-06-09 14:35:33,2025-06-09T14:35:33,2025-06-09T14:35:33-05:00,1,2.82,$2.82,0,0%,card,completed,ios,mobile,0
1495,1496,136,37,13,2025-03-05 13:22:13,05-Mar-2025 13:22:13,2025-03-05T13:22:13-05:00,1,163.03,$163.03,0,0%,transfer,completed,android,mobile,0
1496,1497,17,56,18,2024-12-01 10:13:45,01/12/2024 10:13,2024-12-01T10:13:45-05:00,2,390.84,$390.84,5,5%,card,completed,android,mobile,0
1497,1498,88,75,9,2025-06-11 22:25:49,2025-06-11T22:25:49,2025-06-11T22:25:49-05:00,1,379.73,$379.73,5,5%,card,completed,android,mobile,0
1498,1499,209,52,20,2025-05-28 03:49:01,28-May-2025 03:49:01,2025-05-28T03:49:01-05:00,1,226.08,$226.08,0,0%,cash,completed,android,mobile,0
1499,1500,211,44,6,2024-03-07 13:27:14,2024-03-07T13:27:14,2024-03-07T13:27:14-05:00,5,1194.10,"$1,194.10",0,0%,card,completed,android,mobile,1

In [21]:
c1 = customers[["customer_id", "first_name"]].set_index("customer_id")
c2 = customers[["customer_id", "city"]].set_index("customer_id")

df_concat_columns = pd.concat([c1, c2], axis=1)
df_concat_columns

            first_name         city
customer_id
1                Sofía         Cali
2                Tomás    Cartagena
3                Diana    Cartagena
4                Laura       Bogotá
5               Miguel       Cúcuta
...                ...          ...
296                Ana      Armenia
297              Tomás       Cúcuta
298                Ana  Bucaramanga
299              María       Bogotá
300               Juan      Pereira

[300 rows x 2 columns]